<table class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">Place_name</th>
<th title="Field #2">Score</th>
<th title="Field #3">review</th>
<th title="Field #4">Addr</th>
<th title="Field #5">Phone</th>
<th title="Field #6">Subcategory</th>
</tr></thead>
<tbody><tr>
<td>공감 홍대2호점</td>
<td align="right">3.3</td>
<td align="right">28</td>
<td>서울 마포구 와우산로17길 10 2층</td>
<td>02-336-1675</td>
<td>일본식주점</td>
</tr>
<tr>
<td>개화기요정</td>
<td align="right">2.5</td>
<td align="right">86</td>
<td>서울 마포구 독막로7길 22</td>
<td>02-325-6677</td>
<td>일본식주점</td>
</tr>
<tr>
<td>와인로그</td>
<td align="right">3.8</td>
<td align="right">102</td>
<td>서울 마포구 와우산로21길 36-8 2,3층</td>
<td> </td>
<td>와인바</td>
</tr>
<tr>
<td>포차끝판왕 홍대점</td>
<td align="right">5.0</td>
<td align="right">19</td>
<td>서울 마포구 잔다리로 3 4층</td>
<td> </td>
<td>실내포장마차</td>
</tr>
<tr>
<td>산울림1992</td>
<td align="right">3.9</td>
<td align="right">154</td>
<td>서울 마포구 서강로9길 60</td>
<td>02-334-0118</td>
<td>호프,요리주점</td>
</tr>
<tr>
<td>앵춘</td>
<td align="right">4.2</td>
<td align="right">222</td>
<td>서울 마포구 독막로 81 1층</td>
<td> </td>
<td>술집</td>
</tr>
<tr>
<td>꼼보포차 홍대2호점</td>
<td align="right">2.6</td>
<td align="right">28</td>
<td>서울 마포구 와우산로17길 19</td>
<td> </td>
<td>실내포장마차</td>
</tr>
<tr>
<td>삼거리포차</td>
<td align="right">2.1</td>
<td align="right">2</td>
<td>서울 마포구 와우산로 70</td>
<td>02-3144-6748</td>
<td>실내포장마차</td>
</tr>
<tr>
<td>38도씨식당</td>
<td align="right">3.8</td>
<td align="right">110</td>
<td>서울 마포구 와우산로17길 19-17 2층</td>
<td>070-4045-8387</td>
<td>호프,요리주점</td>
</tr>
<tr>
<td>만만코코로 홍대점</td>
<td align="right">1.4</td>
<td align="right">82</td>
<td>서울 마포구 양화로16길 34 2, 3층</td>
<td>02-335-0004</td>
<td>호프,요리주점</td>
</tr>
<tr>
<td>루프탑어반비치</td>
<td align="right">3.4</td>
<td align="right">75</td>
<td>서울 마포구 독막로9길 38 DE빌딩 6층</td>
<td> </td>
<td>칵테일바</td>
</tr>
<tr>
<td>막걸리싸롱 홍대본점</td>
<td align="right">2.1</td>
<td align="right">75</td>
<td>서울 마포구 와우산로21길 12-6 1층</td>
<td>02-324-1518</td>
<td>호프,요리주점</td>
</tr>
<tr>
<td>미로식당</td>
<td align="right">3.7</td>
<td align="right">57</td>
<td>서울 마포구 와우산로30길 80</td>
<td>02-326-3777</td>
<td>호프,요리주점</td>
</tr>
<tr>
<td>효봉포차</td>
<td align="right">4.5</td>
<td align="right">35</td>
<td>서울 마포구 와우산로18길 12</td>
<td>010-6888-3881</td>
<td>실내포장마차</td>
</tr>
<tr>
<td>프라하펍</td>
<td align="right">4.1</td>
<td align="right">51</td>
<td>서울 마포구 와우산로11길 9-9</td>
<td>02-333-4122</td>
<td>호프,요리주점</td>
</tr>
<tr>
<td>자세</td>
<td align="right">3.0</td>
<td align="right">19</td>
<td>서울 마포구 와우산로19길 6-11</td>
<td>02-334-8220</td>
<td>칵테일바</td>
</tr>
<tr>
<td>부산집</td>
<td align="right">4.4</td>
<td align="right">77</td>
<td>서울 마포구 와우산로38길 4</td>
<td> </td>
<td>일본식주점</td>
</tr>
<tr>
<td>지하102호</td>
<td align="right">4.2</td>
<td align="right">106</td>
<td>서울 마포구 양화로6길 57-22</td>
<td>010-6315-8648</td>
<td>일본식주점</td>
</tr>
<tr>
<td>호맥 합정점</td>
<td align="right">4.3</td>
<td align="right">148</td>
<td>서울 마포구 독막로5길 5 1층</td>
<td>02-333-7466</td>
<td>호프,요리주점</td>
</tr>
<tr>
<td>작가</td>
<td align="right">1.8</td>
<td align="right">24</td>
<td>서울 마포구 어울마당로 71</td>
<td> </td>
<td>일본식주점</td>
</tr>
<tr>
<td>클럽에반스</td>
<td align="right">4.5</td>
<td align="right">11</td>
<td>서울 마포구 와우산로 63 2층</td>
<td> </td>
<td>칵테일바</td>
</tr>
<tr>
<td>고작수요일</td>
<td align="right">4.0</td>
<td align="right">53</td>
<td>서울 마포구 독막로15길 16 2층</td>
<td>070-8621-1136</td>
<td>와인바</td>
</tr>
<tr>
<td>썸ING</td>
<td align="right">4.3</td>
<td align="right">4</td>
<td>서울 마포구 잔다리로 3 2층</td>
<td>02-335-3554</td>
<td>실내포장마차</td>
</tr>
<tr>
<td>코노미 홍대점</td>
<td align="right">3.5</td>
<td align="right">44</td>
<td>서울 마포구 잔다리로6길 28</td>
<td>02-333-3036</td>
<td>일본식주점</td>
</tr>
<tr>
<td>페더</td>
<td align="right">5.0</td>
<td align="right">31</td>
<td>서울 마포구 독막로15길 13 지하1층</td>
<td>02-333-4440</td>
<td>칵테일바</td>
</tr>
<tr>
<td>광동포차</td>
<td align="right">2.8</td>
<td align="right">13</td>
<td>서울 마포구 잔다리로 5-1</td>
<td>02-3142-1224</td>
<td>실내포장마차</td>
</tr>
<tr>
<td>어른이대공원</td>
<td align="right">2.4</td>
<td align="right">43</td>
<td>서울 마포구 합정동 410-31</td>
<td> </td>
<td>호프,요리주점</td>
</tr>
<tr>
<td>대한맥주집 홍대점</td>
<td align="right">4.0</td>
<td align="right">8</td>
<td>서울 마포구 와우산로19길 5 1층</td>
<td>02-325-0815</td>
<td>호프,요리주점</td>
</tr>
<tr>
<td>바코포차</td>
<td align="right">4.1</td>
<td align="right">75</td>
<td>서울 마포구 독막로3길 35 1층</td>
<td> </td>
<td>실내포장마차</td>
</tr>
<tr>
<td>웨일펍수제맥주</td>
<td align="right">4.4</td>
<td align="right">29</td>
<td>서울 마포구 독막로 72 2층</td>
<td>02-323-9790</td>
<td>호프,요리주점</td>
</tr>
</tbody></table>