<table class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">Place_name</th>
<th title="Field #2">Score</th>
<th title="Field #3">review</th>
<th title="Field #4">Addr</th>
<th title="Field #5">Phone</th>
<th title="Field #6">Subcategory</th>
</tr></thead>
<tbody><tr>
<td>광고홍대파스타리코</td>
<td align="right">4.1</td>
<td align="right">306</td>
<td>서울 마포구 홍익로5안길 32 준빌라</td>
<td>02-3144-0808</td>
<td>양식</td>
</tr>
<tr>
<td>광고제주정원</td>
<td align="right">4.2</td>
<td align="right">32</td>
<td>서울 마포구 동교로17길 8</td>
<td>02-336-3392</td>
<td>육류,고기</td>
</tr>
<tr>
<td>광고조선화로구이</td>
<td align="right">4.3</td>
<td align="right">23</td>
<td>서울 마포구 월드컵북로 5</td>
<td>02-3143-1300</td>
<td>육류,고기</td>
</tr>
<tr>
<td>진짜파스타</td>
<td align="right">4.7</td>
<td align="right">84</td>
<td>서울 마포구 와우산로 64 전원빌딩 2층 202호</td>
<td>02-322-1518</td>
<td>이탈리안</td>
</tr>
<tr>
<td>감성타코 홍대점</td>
<td align="right">3.2</td>
<td align="right">135</td>
<td>서울 마포구 와우산로21길 20-11 2층</td>
<td>02-337-8883</td>
<td>멕시칸,브라질</td>
</tr>
<tr>
<td>피오니 홍대점</td>
<td align="right">3.8</td>
<td align="right">369</td>
<td>서울 마포구 독막로7길 51 1층</td>
<td>02-333-5325</td>
<td>카페</td>
</tr>
<tr>
<td>우와 홍대본점</td>
<td align="right">3.5</td>
<td align="right">110</td>
<td>서울 마포구 와우산로21길 21-16 202호</td>
<td> </td>
<td>철판요리</td>
</tr>
<tr>
<td>칸다소바 홍대점</td>
<td align="right">4.1</td>
<td align="right">119</td>
<td>서울 마포구 와우산로 51-6</td>
<td>02-332-1660</td>
<td>일본식라면</td>
</tr>
<tr>
<td>여우골 홍대점</td>
<td align="right">4.0</td>
<td align="right">123</td>
<td>서울 마포구 와우산로19길 9</td>
<td>02-325-8717</td>
<td>초밥,롤</td>
</tr>
<tr>
<td>또보겠지떡볶이 해피토스점</td>
<td align="right">3.9</td>
<td align="right">93</td>
<td>서울 마포구 잔다리로6길 34-5 2층</td>
<td>010-5699-8907</td>
<td>떡볶이</td>
</tr>
<tr>
<td>정돈</td>
<td align="right">4.5</td>
<td align="right">109</td>
<td>서울 마포구 어울마당로 46 1층</td>
<td>02-336-0923</td>
<td>돈까스,우동</td>
</tr>
<tr>
<td>943킹스크로스</td>
<td align="right">3.6</td>
<td align="right">316</td>
<td>서울 마포구 양화로16길 24</td>
<td>02-3144-2112</td>
<td>카페</td>
</tr>
<tr>
<td>하카타분코</td>
<td align="right">3.0</td>
<td align="right">183</td>
<td>서울 마포구 독막로19길 43 1층</td>
<td> </td>
<td>일본식라면</td>
</tr>
<tr>
<td>마녀주방 홍대점</td>
<td align="right">4.2</td>
<td align="right">179</td>
<td>서울 마포구 와우산로21길 36-10 1, 2층</td>
<td> </td>
<td>양식</td>
</tr>
<tr>
<td>테이스티버거</td>
<td align="right">3.7</td>
<td align="right">316</td>
<td>서울 마포구 독막로 67-11 행운빌딩 1층</td>
<td>02-336-3034</td>
<td>햄버거</td>
</tr>
<tr>
<td>오츠에스프레소</td>
<td align="right">4.4</td>
<td align="right">262</td>
<td>서울 마포구 독막로14길 32 지하 1층</td>
<td> </td>
<td>커피전문점</td>
</tr>
<tr>
<td>김덕후의곱창조 홍대본점</td>
<td align="right">2.8</td>
<td align="right">54</td>
<td>서울 마포구 와우산로 51-9 1층,2층</td>
<td> </td>
<td>곱창,막창</td>
</tr>
<tr>
<td>테일러커피 서교점</td>
<td align="right">4.3</td>
<td align="right">115</td>
<td>서울 마포구 와우산로27길 7 2층</td>
<td>02-334-0355</td>
<td>커피전문점</td>
</tr>
<tr>
<td>지로우라멘</td>
<td align="right">4.1</td>
<td align="right">132</td>
<td>서울 마포구 와우산로29가길 79</td>
<td> </td>
<td>일본식라면</td>
</tr>
<tr>
<td>맛이차이나</td>
<td align="right">3.5</td>
<td align="right">120</td>
<td>서울 마포구 독막로 68 2층</td>
<td>02-322-2653</td>
<td>중화요리</td>
</tr>
<tr>
<td>미즈컨테이너 서교점</td>
<td align="right">4.2</td>
<td align="right">120</td>
<td>서울 마포구 와우산로18길 32</td>
<td> </td>
<td>이탈리안</td>
</tr>
<tr>
<td>톤앤매너</td>
<td align="right">4.4</td>
<td align="right">26</td>
<td>서울 마포구 와우산로29가길 13 1층</td>
<td>02-332-8252</td>
<td>카페</td>
</tr>
<tr>
<td>랑데자뷰 상수점</td>
<td align="right">3.3</td>
<td align="right">685</td>
<td>서울 마포구 와우산로13길 49</td>
<td>070-4255-5656</td>
<td>디저트카페</td>
</tr>
<tr>
<td>가미우동</td>
<td align="right">4.4</td>
<td align="right">153</td>
<td>서울 마포구 홍익로2길 23</td>
<td>02-322-3302</td>
<td>돈까스,우동</td>
</tr>
<tr>
<td>공감 홍대2호점</td>
<td align="right">3.3</td>
<td align="right">28</td>
<td>서울 마포구 와우산로17길 10 2층</td>
<td>02-336-1675</td>
<td>일본식주점</td>
</tr>
<tr>
<td>혼가츠</td>
<td align="right">2.8</td>
<td align="right">260</td>
<td>서울 마포구 와우산로21길 36-6 102호</td>
<td>02-322-8850</td>
<td>돈까스,우동</td>
</tr>
<tr>
<td>버터밀크</td>
<td align="right">3.9</td>
<td align="right">115</td>
<td>서울 마포구 와우산로 130 1층</td>
<td> </td>
<td>카페</td>
</tr>
<tr>
<td>또보겠지떡볶이집 깐따삐아점</td>
<td align="right">3.7</td>
<td align="right">136</td>
<td>서울 마포구 와우산로21길 28-12</td>
<td>0507-1394-8645</td>
<td>떡볶이</td>
</tr>
<tr>
<td>라멘트럭 상수점</td>
<td align="right">3.6</td>
<td align="right">56</td>
<td>서울 마포구 독막로14길 31 1층</td>
<td>02-336-8456</td>
<td>일본식라면</td>
</tr>
<tr>
<td>윤씨밀방</td>
<td align="right">3.8</td>
<td align="right">239</td>
<td>서울 마포구 와우산로15길 15 지하1층</td>
<td>02-3143-4116</td>
<td>양식</td>
</tr>
<tr>
<td>비스트로주라</td>
<td align="right">4.3</td>
<td align="right">165</td>
<td>서울 마포구 와우산로23길 18-7 1층</td>
<td> </td>
<td>양식</td>
</tr>
<tr>
<td>은행골 홍대점</td>
<td align="right">3.2</td>
<td align="right">91</td>
<td>서울 마포구 와우산로15길 34</td>
<td>02-2637-4988</td>
<td>초밥,롤</td>
</tr>
<tr>
<td>프리모바치오바치 홍대본점</td>
<td align="right">3.5</td>
<td align="right">195</td>
<td>서울 마포구 와우산로23길 44 2,3층</td>
<td>02-323-0098</td>
<td>이탈리안</td>
</tr>
</tbody></table>